body{
    font-family: 'Poppins', sans-serif;
}

.main{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.logo{
    font-size: 22px;
    font-style: italic;
    color: rgba(0,0,0,1);
}

.container{
    display: flex;
    align-items: center;
}

.container ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}

.main div{
    display: inline-block;
}